extend ../../themes/admin/layout 

block title
  title Shovel apps CMS - #{__('Menues Manager')}

block content
  - var places = [{"title": "Main Menu", "menu": "tabbar"}, {"title": "Side Menu", "menu": "sidemenu"}];
  -var icons = ["ion-monitor", "ion-play", "ion-images", "ion-map", "ion-gear-b","ion-music-note", "ion-radio-waves", "ion-earth", "ion-eye", "ion-person", "ion-location", "ion-link", "ion-chevron-left", "ion-information-circled", "ion-share"]
  .container-fluid.bg-white.cms.menues-manager(role="main")
    .header.center-block.row.voffset6
      a.back-button.pull-left(href="#")
      .col-md-3.col-sm-4.devices.text-right.hidden-xs
        .os
          a.android.active(href="#")
          .separate
          a.ios(href="#")
      .col-md-6.col-sm-6
        h2 #{__('Menues Manager')}
      .col-md-1
        a.upload-theme.pull-right#saveMenus(href="#")
          img(src="/coreassets/assets/save-icon.svg")
          span #{__('Save changes')}
    .col-md-8.col-md-offset-2.voffset7.text-left

      - var appmenusByMenu = function(m){
      -   for(var i = 0, result = []; i < appmenus.length; i++){
      -     appmenus[i].menu == m && result.push(appmenus[i]);
      -   }
      -   return result;
      - }
      

      each place in places
        h4.voffset7=place.title
        table.table.table-bordered.table-shovel(data-menu=place.menu)
          thead
            tr
              th #
              th #{__('Title')}
              if place.menu == 'sidemenu'
                th #{__('Parent')}
              th #{__('Linked to')}
              th #{__('Icon')}
              th #{__('Actions')}
          tbody


            - var menues = appmenusByMenu(place.menu);
            each appmenu in menues
                tr(data-position=appmenu.position)
                  td.text-center=appmenu.position
                  td
                    input.title(type="text", value=appmenu.title, placeholder="Name your menu")
                  if place.menu == 'sidemenu'
                    td
                      select.select2.selectParent(data-placeholder="Parent")
                        -var hasnoparent= appmenu.parent=='None'
                        option="None"
                        each parentMenu in menues
                          if parentMenu.parent=='None'
                            -var psel = appmenu.parent==parentMenu.title
                            option(selected=psel)=parentMenu.title
                  td
                    select.select2.screenId(data-placeholder="Parent")
                      each screen in screens
                        -var sel = appmenu.screenID==screen.id
                        option(selected=sel, value=screen.id)=screen.title
                  td
                    if appmenu.icon=="none"
                      button.btn.btn-default.btn-xs.iconId(type="button", data-toggle="modal", data-target="#iconsModal") Select icon
                    else
                      button.btn.btn-default.btn-xs.iconId(type="button", data-toggle="modal", data-target="#iconsModal")=appmenu.icon
                  td.actions
                    if appmenu.state=="enabled"
                      a.icon.publish.state(href="#")
                    else
                      a.icon.unpublish.state(href="#")
                    .move
                      a(class="move-up", href="#")
                      a(class="move-down", href="#")
                    a.delete(href="#")

            tr.new
              td
              td
                input.title(type="text", placeholder="Name your menu")
              if place.menu == 'sidemenu'
                td
                  select.select2.selectParent
                    option="None"
                    each parentMenu in menues
                      if parentMenu.parent=='None'
                        option=parentMenu.title
              td
                select.select2.screenId
                  each screen in screens
                    option(value=screen.id)=screen.title
              td
                button.btn.btn-default.btn-xs.iconId(type="button", data-toggle="modal", data-target="#iconsModal") Select icon
              td.actions
                a.add(href="#")

    .voffset5

  .modal.fade(id="iconsModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header(style="border-bottom:none; padding-bottom: 65px;")
          .container.col-xs-12
            .row
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .row
              .col-xs-6
                h4.modal-title(id="myModalLabel") Choose Icon
              .col-xs-6(style="text-align: right;")
                button.btn.btn-default.iconSelect(type="button", data-dismiss="modal", data-iconname="Select icon") No icon
        .modal-body
          each icon in icons
            a.icon.iconSelect(class=icon, style="font-size:40px; margin:30px; color:#676767;", href="#", data-dismiss="modal", data-iconname=icon)

block scripts
  script(src="screens/js/jquery.rest.min.js")
  script.
    $(document).ready(function(){
        checktypes();

        var lastIconButton;
        $('#iconsModal').on('show.bs.modal', function (e) {
          lastIconButton=e.relatedTarget;
        });
        $('.modal').on("click",".iconSelect", function (e){
          e.preventDefault();
          $(lastIconButton).html($(this).attr('data-iconname'));
        });
        $("table").on("click",".delete",function(e){
          var row = $(this).parents("tr");
          var title = row.find('input.title:first').val();
          row.fadeOut(function(){
            $(this).remove();
            checktypes();
          });
          $('select.selectParent').each(function(){
            if($(this).val()==title){
              $(this).parents("tr:first").fadeOut(function(){
                $(this).remove();
                checktypes();
              });
            }
          });
          return false;
        });
        $("table").on("click",".add",function(e){
          var row = $(this).parents("tr:first");
          var newRow = $(this).parents("tr:first").clone().removeClass("new");
          row.before(newRow.hide());
          newRow.fadeIn().find("td:last").html("").append(
            $("<a>").addClass("icon publish state").attr("href", "#"),
            $("<div>").addClass("move").append(
              $("<a>").addClass("move-up").attr("href", "#"),
              $("<a>").addClass("move-down").attr("href", "#")
            ),
            $("<a>").addClass("delete").attr("href", "#")
          );
          newRow.find('select.selectParent:first').val(row.find('select.selectParent:first').val());
          newRow.find('select.screenId:first').val(row.find('select.screenId:first').val());
          row.find('input:first').val('');
          row.find('select.selectParent').val(row.find('select.selectParent option:first').val());
          row.find('select.screenId').val(row.find('select.screenId option:first').val());
          row.find('.iconId:first').html('Select icon')
          $('.title').each(function(){
            if($(this).val()==newRow.find('select.selectParent:first').val()){
              newRow.insertAfter($(this).parents("tr:first"));
            }
          });
          checktypes();

          return false;
        });
        $("table").on("click",".move-up",function(e){
          var row = $(this).parents("tr:first");
          moveUp(row, row.prev());
          return false;
        });
        $("table").on("click",".move-down",function(e){
          var row = $(this).parents("tr:first");
          moveDown(row, row.next());
          return false;
        });
        $("table").on("click",".state",function(e){
          e.preventDefault();
          if($(this).hasClass('publish')){
            $(this).addClass('unpublish')
            $(this).removeClass('publish');
          } else {
            $(this).addClass('publish')
            $(this).removeClass('unpublish');
          }
        });
        $("table").on("change",".selectParent",function(e){
          e.preventDefault();
          var row = $(this).parents("tr:first");
          var selected = $(this).val();
          if(selected=='None' && !row.hasClass('new')){
            row.insertBefore(row.nextAll('tr:not(.childMenu)').eq(0));
          }
          if(selected !=='None' && !row.hasClass('new')){
            if(!row.hasClass('childMenu')){
              row.addClass('childMenu');
              $( "<p class='childIcon' style='display:inline;'>¬  </p>" ).insertBefore(row.find('input.title:first'));
            }
            $('input.title').each(function(){
              if($(this).val()==selected){
                row.insertAfter($(this).parents('tr'));
              }
            });
          } else {
            row.removeClass('childMenu');
            row.find('.childIcon').remove();
          }
          checktypes();
        });
        $("table").on("focus",".selectParent",function(e){
          var prevValue = $(this).val();
          var parentsMenus = [];
          var menuTitle=$(this).parents('tr').find('.title').val();
          $(this).find('option').each(function(){
            $(this).remove();
          });
          $(this).append('<option>None</option>');
          $('input.title').each(function(){
            if($(this).parents('tr:not(.new)').find('.selectParent').val()==='None' && $(this).parents('tr:not(.new)').find('.title').val()!==menuTitle){
              parentsMenus.push($(this).val());
            }
          });
          for(var i = 0; i < parentsMenus.length; i++){
            if(parentsMenus[i]==prevValue){
              $(this).append('<option selected>'+parentsMenus[i]+'</option>');
            } else {
              $(this).append('<option>'+parentsMenus[i]+'</option>');
            }
          }
          checktypes();
        });
        $("table").on("keyup",".title",function(e){
          var done = true;
          var nextRow = $(this).parents('tr').next();
          while (done) {
            if(nextRow.hasClass('childMenu')) {
              nextRow.find('.selectParent option:selected').remove();
              nextRow.find('.selectParent').append('<option selected>'+$(this).val()+'</option>');
              nextRow=nextRow.next();
            } else {
            done =false;
            }
          }
        });
        function checktypes(){
          $('tr:not(.new)').each(function(index){
            if($(this).find('.selectParent').val()!=='None' &&$(this).find('.selectParent').val()!==undefined){
              if(!$(this).hasClass('childMenu')){
                $(this).addClass('childMenu');
                $( "<p class='childIcon' style='display:inline;'>¬  </p>" ).insertBefore($(this).find('input.title:first'));
              }
            }else {
              $(this).removeClass('childMenu');
              $(this).find('.childIcon').remove();
            }
          });
          checkPosition();
          checkParents();
        }
        function checkParents(){
          $('tr:not(.new)').each(function(){
            if($(this).next().hasClass('childMenu') && $(this).find('select.selectParent:first').val()=='None'){
              $(this).find('select.selectParent:first').prop('disabled', 'disabled');
            } else {
              $(this).find('select.selectParent:first').prop('disabled', false);
            }
          });
        }
        function checkPosition(){
          var tables = $("table");

          tables.each(function(){
            var allRows = $(this).find('tbody tr:not(.new)');
            for(var i = 0; i < allRows.length; i++){
              var position = i + 1;

              allRows.eq(i).data("position", position);

              allRows.eq(i).find("td:first").text(position);
              allRows.eq(i).find(".move-up:first, .move-down:first").removeClass("hidden");
            }
            var parentsArray=['None'];
            $(this).find('input.title').each(function(){
              if($(this).parents('tr:not(.new)').find('.selectParent').val()==='None'){
                parentsArray.push($(this).val());
              }
            });
            $.each(parentsArray, function(index, parent){
              var optionList=[]; 
              allRows.find('select.selectParent').each(function(){
                if($(this).val()==parent){
                 optionList.push($(this));
                }
              });
              if(optionList.length){
                optionList[0].parents('tr').find('.move-up:first').addClass('hidden');
                optionList[optionList.length-1].last().parents('tr').find('.move-down:first').addClass('hidden');
              }
            });
            //aca no tengo q hacerlo en base al primero, tengo q levantar los titles
            $(this).find('select.selectParent:first option').each(function(){

            });
          });
        };
        function moveUp(row, prevRow){
          if(prevRow.length){
            if(prevRow.find('select.selectParent:first').val()==row.find('select.selectParent:first').val()){
              row.insertBefore(prevRow);
              $('select.selectParent').each(function(){
                var crow = $(this).parents('tr');
                if($(this).val()==row.find('input.title').val()){
                crow.insertBefore(prevRow);
                }
              });
              checkPosition();
            }else{
            moveUp(row,prevRow.prev());
            }
          }
        };
        function moveDown(row, nextRow){
          if(nextRow.length){
            var targetRow=nextRow;
            $(targetRow).nextAll().each(function(){
              if($(this).find('select.selectParent:first').val()==nextRow.find('input.title:first').val()){
                targetRow=$(this);
              }
            });
            if(nextRow.find('select.selectParent:first').val()==row.find('select.selectParent:first').val()){
              $($('select.selectParent').get().reverse()).each(function(){
                var crow = $(this).parents('tr');
                if($(this).val()==row.find('input.title').val()){
                crow.insertAfter(targetRow);
                }
              });
              row.insertAfter(targetRow);
              checkPosition();
            }else{
            moveDown(row,nextRow.next());
            }
          }
        };

    });
  script(src="menus/js/menueditor.js")



