extend ../../themes/admin/layout

block title
  title Shovel apps CMS - #{__('Screen')}

block content
  - var listPlugins = [{name:"Contents",id:"Contents",plugins:[{name:"Html",menu:"Static Content (HTML)",id:"plugin-01",main:{js:"screens/js/examples/htmlPlugin.js",css:""}},{name:"Form",menu:"Forms",id:"plugin-02",main:{js:"screens/js/examples/formPlugin.js",css:""}}, {name:"Mathematical Formulas",menu:"Mathematical Formulas",id:"plugin-04",main:{js:"screens/js/examples/matchJaxPlugin.js",css:""}}, {name:"Image",menu:"Add image",id:"plugin-05",main:{js:"screens/js/examples/addImagePlugin/main.js",css:"screens/js/examples/addImagePlugin/main.css"}}, {name:"Map",menu:"Add map",id:"plugin-06",main:{js:"screens/js/examples/gmaps/main.js",css:"screens/js/examples/gmaps/main.css"}}]},{name:"Audio & video",id:"AudioVideo",plugins:[{name:"Youtube",menu:"Youtube media",id:"plugin-03",main:{js:"screens/js/examples/youtubePlugin.js",css:""}}]},{name:"Style",id:"Style",plugins:[{name:"Background",menu:"Change background",id:"plugin-07",main:{js:"screens/js/examples/changeBackground/main.js",css:"screens/js/examples/changeBackground/main.css"}}]}];

  form#screenform(action="/admin/screens", method="post")
    input(type="hidden", name="id", value="#{screen.id}")
    input(type="hidden", name="currentId", value="#{screen.id}")
    input(type="hidden", name="position", value="#{screen.position}")
    input(type="hidden", name="isMain", value="#{screen.isMain}")

    .container-fluid.bg-white.cms(role='main')
      .header.center-block.row.voffset6
        a.back-button.pull-left(href='#')
        .col-md-2.col-md-offset-1
          select.form-control(name="compatibility")
            option(value=1) Android
            option(value=2) iOS
            option(value=3) Android &amp; iOS
        .col-md-3
          input.shovel-control(name='title',type='text', value="#{screen.title}")
        .col-md-4.col-md-offset-2.text-center
          a#destroyScreenButton.header-button(href="#")
            img(src='/coreassets/assets/delete.svg')
            span Delete
          a#save.header-button(href='#')
            img(src='/coreassets/assets/save-icon.svg')
            span Save
      .row.center-block.voffset3.text-left
        .col-md-2.col-md-offset-1.text-right.pluginsScreen
          .header.small
            h4 Plugins
            .search
              input.search-plugin(type='text', placeholder='Search')
          .panel-group.text-left.voffset3.shovel-group-panel.small
            each group in listPlugins
              .panel.panel-default.open
                .panel-heading(href='##{group.id}', data-toggle='collapse')
                  h5.panel-title
                    i.open.pull-right
                    | #{group.name}
                .panel-collapse.collapse.in(id="#{group.id}")
                  .list-group
                    each option in group.plugins
                      a.list-group-item.addPlugin(href='#', data-plugin-id="#{option.id}")
                        |#{option.menu}
                        .pull-right +
        .col-md-5.screen-plugins

        .col-md-4.demo-phone
          .demo-theme.android.real
            img.phone(src='/coreassets/assets/android-cel.svg')
            //-img.theme(src='/coreassets/assets/elmeme.jpg')
            iframe.iframe-demo

  
  script.
    var Plugins = !{JSON.stringify(listPlugins)};

block stylesheets
  link(rel="stylesheet", href="screens/css/editor.css")
  //- link(rel="stylesheet", href="screens/css/quill.snow.css")
block scripts
  script(src="screens/js/require.js")
  script(src="screens/js/ckeditor/ckeditor.js")
  script(src="screens/js/ckeditor/adapters/jquery.js")
  script(src="screens/js/jquery.rest.min.js")
  script(src="screens/js/screeneditor.js")
  script(src="screens/js/main.js")
  script.
    require.config({
      paths: {
          'jquery': '/coreassets/jquery/jquery'
      }
    });

  if screen.pluginStates
    script.
      var old_states = !{screen.pluginStates};
      $(document).ready(function(){ window.ShovelApps.Plugins.loadPluginsStates(old_states); });
