extend ../../themes/admin/layout

block title
  title Shovel apps CMS - #{__('Screen')}

block content
  - var listPlugins=[{name:"Content Plugins",id:"ContentPlugins",plugins:[{name:"Html",menu:"Static Content (HTML)",id:"plugin-01",main:{js:"screens/js/examples/htmlPlugin.js",css:""}},{name:"Form",menu:"Forms",id:"plugin-02",main:{js:"screens/js/examples/formPlugin.js",css:""}}, {name:"Mathematical Formulas",menu:"Mathematical Formulas",id:"plugin-04",main:{js:"screens/js/examples/matchJaxPlugin.js",css:""}}]},{name:"Audio & video",id:"AudioVideo",plugins:[{name:"Youtube",menu:"Youtube media",id:"plugin-03",main:{js:"screens/js/examples/youtubePlugin.js",css:""}}]}];
  form#screenform(action="/admin/screens", method="post")
    input(type="hidden", name="id", value="#{screen.id}")
    input(type="hidden", name="currentId", value="#{screen.id}")
    input(type="hidden", name="position", value="#{screen.position}")
    input(type="hidden", name="isMain", value="#{screen.isMain}")

    .container-fluid.bg-white.cms(role='main')
      .header.center-block.row.voffset6
        a.back-button.pull-left(href='#')
        .col-md-3.col-md-offset-3
          input.shovel-control(name='title',type='text', value="#{screen.title}")
        .col-md-2.col-md-offset-2
          select.form-control
            option Content
          select.form-control.voffset2
            option Compatibility
        .col-md-1
          a#destroyScreenButton.upload-theme.pull-right(href="#")
            img(src='/coreassets/assets/delete.svg')
            span Delete
        .col-md-1
          a#save.upload-theme.pull-right(href='#')
            img(src='/coreassets/assets/save-icon.svg')
            span Save
      .row.center-block.voffset3.text-left
        .col-md-2.col-md-offset-1.text-right.pluginsScreen
          .header.small
            h4 Plugins
            .search
              input.search-plugin(type='text', placeholder='Search')
          .panel-group.text-left.voffset3.shovel-group-panel.small
            each group in listPlugins
              .panel.panel-default.open
                .panel-heading(href='##{group.id}', data-toggle='collapse')
                  h5.panel-title
                    i.open.pull-right
                    | #{group.name}
                .panel-collapse.collapse.in(id="#{group.id}")
                  .list-group
                    each option in group.plugins
                      a.list-group-item.addPlugin(href='#', data-plugin-id="#{option.id}") #{option.menu}
        .col-md-5.screen-plugins
          .plugin.no-plugin
            .header
              h6 Html
              a.delete(href='#') x
            .sort
              a.up-plugin(href='#')
                i.glyphicon.glyphicon-chevron-up
              a.down-plugin(href='#')
                i.glyphicon.glyphicon-chevron-down
            .content
              textarea(cols="80",id="editor1",name="editor1",rows="10")!=screen.content
        .col-md-4.demo-phone.text-left
          .demo-theme.android
            img.phone(src='/coreassets/assets/android-cel.svg')
            //-img.theme(src='/coreassets/assets/elmeme.jpg')
            iframe.iframe-demo

  
  script.
    var Plugins = !{JSON.stringify(listPlugins)};
block stylesheets
  link(rel="stylesheet", href="screens/css/editor.css")
  //- link(rel="stylesheet", href="screens/css/quill.snow.css")
block scripts
  script(src="screens/js/require.js")
  script(src="screens/js/ckeditor/ckeditor.js")
  script(src="screens/js/ckeditor/adapters/jquery.js")
  script(src="screens/js/jquery.rest.min.js")
  script(src="screens/js/screeneditor.js")
  script(src="screens/js/main.js")